@font-face {
    font-family: 'Roboto_Mono';
    src: url(/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf);
}


body{
    font-family: "Roboto_Mono";
    
}

.cap{
    background-color: #A9D8FF;
    width: 100%;
    height: 129px; 
    display: flex;
    align-items: center;
}
.button_map{
    background-color: #D7F0F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.49;
    width: 4.32%;
    height: 60px;
    margin-left: 39px;
    border-radius: 5px;
}
.button_map:hover{
    background-color: #a0c8d7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.49;
    width: 4.32%;
    height: 60px;
    margin-left: 39px;
    border-radius: 5px;
}
.img_map{
    margin-left: 8px;
    margin-top: 7px;
    opacity: 0.60;
}
.button_uslugi{
    background-color: #D7F0F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.49;
    width: 10%;
    height: 47px;
    margin-left: 41px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .37);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_uslugi:hover{
    background-color: #a0c8d7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.49;
    width: 10%;
    height: 47px;
    margin-left: 41px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .37);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_otzuv{
    background-color: #D7F0F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.49;
    width: 10%;
    height: 47px;
    margin-left: 54px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .37);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_otzuv:hover{
    background-color: #a0c8d7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.49;
    width: 10%;
    height: 47px;
    margin-left: 54px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .37);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    background-color: #6DA7D7;
    width: 23.11%;
    height: 80px;
    margin-left: 71px;
    border-radius: 15px;
    text-align: center;
    font-size: 40px;
    color:rgb(255, 255, 255);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 1px rgba(0, 0, 0, .20);
}
.button_kontakt{
    background-color: #D7F0F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.49;
    width: 11.62%;
    height: 47px;
    margin-left: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .37);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_kontakt:hover{
    background-color: #a0c8d7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    opacity: 0.49;
    width: 11.62%;
    height: 47px;
    margin-left: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, .37);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_zapis{
    background-color: #D1483C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    width: 18.51%;
    height: 70px;
    margin-left: 44px;
    border-radius: 10px;
    text-align: center;
    font-size: 32px;
    color:rgba(255, 255, 255);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame_1{
    background-color: #D7F0F9;
    width: 100%;
    height: 741px; 
    z-index: 1;   
}
.info{
    background-color: #8AC2F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    width: 78.24%;
    height: 489px;
    margin-left: 158px;
    border-radius: 20px;
    position: relative;
    top: -98%;
}
.laps{
    position: relative;
    top: -15%;
}
.info_text{
    font-size: 48px;
    color:rgba(255, 255, 255);
    margin-top:-430px;
    margin-left: 385px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, .10);
    letter-spacing: 10px;
}
.knop_1{
    background-color: #FFFFFF;
    width: 18.99%;
    height: 53px;
    margin-left: 395px;
    margin-top: 45px;
    border-radius: 22px;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .8);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.knop_1:hover{
    background-color: #02A4B6;
    width: 18.99%;
    height: 53px;
    margin-left: 395px;
    margin-top: 45px;
    border-radius: 22px;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .8);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.knop_2{
    background-color: #FFFFFF;
    width: 26.76%;
    height: 53px;
    margin-left: 720px;
    margin-top: -52px;
    border-radius: 22px;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .8);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.knop_2:hover{
    background-color: #02A4B6;
    width: 26.76%;
    height: 53px;
    margin-left: 720px;
    margin-top: -52px;
    border-radius: 22px;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .8);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.knop_3{
    background-color: #FFFFFF;
    width: 39.05%;
    height: 53px;
    margin-left: 431px;
    margin-top: 38px;
    border-radius: 22px;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .8);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.knop_3:hover{
    background-color: #02A4B6;
    width: 39.05%;
    height: 53px;
    margin-left: 431px;
    margin-top: 38px;
    border-radius: 22px;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .8);
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}
.img_cat{
    width: 31.79%;
    height: 325.81px;
    margin-top: 180px;
}
.frame_2{
    background-color: #D7F0F9;
    width: 100%;
    height: 650px;
}
.pometka{
    font-size: 48px;
    color:rgba(1, 90, 101, .99);
    margin-left: 530px;
    margin-top: -800px;
}
.pometka_info{
    background-color: #8AC2F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    width: 90.81%;
    height: 430px;
    margin-left: 70px;
    margin-top: 25px;
    border-radius: 15px;
}
.pometka_text{
    font-size: 25px;
    color:rgba(0, 0, 0, .8);
    margin-left: 85px;
    margin-top: -440px;
    width: 676px;
    letter-spacing: 2px;
}
.img_coala{
    width: 700px;
    height: 550px;
    margin-left: 735px;
    margin-top: -65px;
}
.frame_3{
    background-color: #D7F0F9;
    width: 100%;
    height: 1130px;
}
.laps3{
    position: relative;
    top: 5%;
}
.uslugi{
    font-size: 48px;
    color:rgba(1, 90, 101, .99);
    margin-left: 660px;
    margin-top: -1050px;
}
.uslugi_info{
    background-color: #8AC2F0;
    opacity: 0.66;
    width: 80.74%;
    height: 783px;
    margin-left: 142px;
    margin-top: 34px;
    border-radius: 15px;
}
.uslugi_text{
    font-size: 35px;
    color:rgba(0, 0, 0, .99);
    margin-left: 50px;
    height: 700px;
    position: relative;
    top:15%;
    line-height: 40px ;
}
.price{
    font-size: 35px;
    color:rgba(0, 0, 0, .99);
    margin-left: 944px;
    height: 700px;
    position: relative;
    top:-78%;
    left: -5%;
    line-height: 40px ;
}
.frame_4{
    background-color: #D7F0F9;
    width: 100%;
    height: 583px;
}
.laps4{
    position: relative;
    top: -42%;
    left: 1%;
}
.img_diploma{
    width: 739px;
    height: 410px;
    margin-left: 675px;
    position: relative;
    top: -335%;
}
.zag{
    font-size: 40px;
    margin-left: 160px;
    color:rgba(10, 52, 86, .95);
    margin-top: -2300px;
    margin-left: 200px;
}
.komanda{
    font-size: 24px;
    color:rgba(10, 52, 86, .95);
    margin-left: 108px;
    width: 545px;
    margin-top: 50px;
    letter-spacing: 2px;
}
.frame_5{
    background-color: #67A7D5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    width: 100%;
    height: 800px;
}
.laps6{
    position: relative;
    top: 120%;
}
.top_1{
    height: 338px;
    width: 20.07%;
    background-color: #64B1F2;
    position: relative;
    top:-60%;
    left: 5%;
    text-align: center;
    font-size: 20px;
    color:rgba(255, 255, 255, .7);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .7);
    
}
.top_1:hover{
    height: 338px;
    width: 20.07%;
    background-color: #ACD7FB;
    position: relative;
    top:-60%;
    left: 5%;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .6);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .7);
}
.top{
    height: 338px;
    width: 41.08%;
    background-color: #64B1F2;
    position: relative;
    top: -102.5%;
    left: 29%;
    text-align: center;
    font-size: 90px;
    color:rgba(255, 255, 255, .99);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .9);
    letter-spacing: 20px;
}
.top_2{
    height: 338px;
    width: 20.07%;
    background-color: #64B1F2;
    position: relative;
    top:-145%;
    left: 75%;
    text-align: center;
    font-size: 20px;
    color:rgba(255, 255, 255, .7);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_2:hover{
    height: 338px;
    width: 20.07%;
    background-color: #ACD7FB;
    position: relative;
    top:-145%;
    left: 75%;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .6);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_3{
    height: 338px;
    width: 20.07%;
    background-color: #64B1F2;
    position: relative;
    top:-140%;
    left: 75%;
    text-align: center;
    font-size: 20px;
    color:rgba(255, 255, 255, .7);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_3:hover{
    height: 338px;
    width: 20.07%;
    background-color: #ACD7FB;
    position: relative;
    top:-140%;
    left: 75%;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .6);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_4{
    height: 338px;
    width: 20.07%;
    background-color: #64B1F2;
    position: relative;
    top:-182.5%;
    left: 51%;
    text-align: center;
    font-size: 20px;
    color:rgba(255, 255, 255, .7);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_4:hover{
    height: 338px;
    width: 20.07%;
    background-color: #ACD7FB;
    position: relative;
    top:-182.5%;
    left: 51%;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .6);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_5{
    height: 338px;
    width: 20.07%;
    background-color: #64B1F2;
    position: relative;
    top:-225%;
    left: 28%;
    text-align: center;
    font-size: 20px;
    color:rgba(255, 255, 255, .7);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_5:hover{
    height: 338px;
    width: 20.07%;
    background-color: #ACD7FB;
    position: relative;
    top:-225%;
    left: 28%;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .6);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_6{
    height: 338px;
    width: 20.07%;
    background-color: #64B1F2;
    position: relative;
    top:-267.5%;
    left: 5%;
    text-align: center;
    font-size: 20px;
    color:rgba(255, 255, 255, .7);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.top_6:hover{
    height: 338px;
    width: 20.07%;
    background-color: #ACD7FB;
    position: relative;
    top:-267.5%;
    left: 5%;
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, .6);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, .8);
}
.frame_6{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7F0F9;
    width: 100%;
    height: 1130px;
}
.otzuv{
    margin-bottom: 40px;
    font-size: 48px;
    color: rgba(1, 90, 101, .99);
    margin-top: 80px;

}
.frame_7{
    background-color: #67A7D5;
    width: 100%;
    height: 765px;
}
.laps5{
    position: relative;
    top: -40%;
}
.us{
    font-size: 128px;
    color:rgba(255, 255, 255, .99);
    width: 756px;
    position: relative;
    top:-145%;
    left: 7%;
}
.whiskas{
    width: 314px;
    height: 130.9px;
    margin-left: 1020px;
    position: relative;
    top:-200%;
}
.kitekat{
    margin-left: 1020px;
    position: relative;
    top:-218%;
}
.sheba{
    width: 300px;
    height: 219px;
    margin-left: 1020px;
    position: relative;
    top:-170%;
}
.frame_8{
    background-color: #D7F0F9;
    width: 100%;
    height: 1458px;
}
.karta{
    font-size: 48px;
    color:rgba(1, 90, 101, .99);
    margin-left: 620px;
    position: relative;
    top:20%;
}
.map{
    background-color: #8AC2F0;
    opacity: 0.50;
    width: 91.22%;
    height: 776px;
    margin-left: 65px;
    border-radius: 15px;
    margin-top: 330px;
    border: 2px solid rgba(0, 0, 0, .32)
}
.mapka{
    width: 1300px;
    height: 700px;
    margin-left: 40px; 
    margin-top: 35px;
}
.lain{
    width: 100%;
    height: 168px;
    margin-top: 78px;
    position: relative;
    top: 0%;
}
.end{
    background-color: #67A7D5;
    width: 100%;
    height: 667px; 
    position: relative;
    
}
.lapki{
    width: 369.21px;
    height: 530.85px;
    margin-left: 1111px;
    margin-top: 90px; 
}
.addres{
    font-size: 48px;
    color:rgba(35, 48, 80, .7);
    margin-left: 65px;
    position: relative;
    top:-80%;
}
.ad{
    font-size: 32px;
    color:rgba(35, 48, 80, .8);
    margin-left: 65px;
    position: relative;
    top:-75%;
}
.kontakt{
    font-size: 48px;
    color:rgba(35, 48, 80, .7);
    margin-left: 65px;
    position: relative;
    top:-50%;
}
.kon{
    font-size: 32px;
    color:rgba(35, 48, 80, .8);
    margin-left: 65px;
    position: relative;
    top:-44%;
    width: 353px;
}
.button_1{
    font-size: 48px;
    color:rgba(45, 69, 128, .99);
    margin-left: 788px;
    position: relative;
    top:-100%;
}
.button_1:hover{
    font-size: 48px;
    color:rgba(0, 0, 0, .77);
    margin-left: 788px;
    position: relative;
    top:-100%;
}
.button_2{
    font-size: 48px;
    color:rgba(45, 69, 128, .99);
    margin-left: 788px;
    position: relative;
    top:-90%;
}
.button_2:hover{
    font-size: 48px;
    color:rgba(0, 0, 0, .77);
    margin-left: 788px;
    position: relative;
    top:-90%;
}
.button_3{
    font-size: 48px;
    color:rgba(45, 69, 128, .99);
    margin-left: 788px;
    position: relative;
    top:-80%;
}
.button_3:hover{
    font-size: 48px;
    color:rgba(0, 0, 0, .77);
    margin-left: 788px;
    position: relative;
    top:-80%;
}

html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      /* background: #eee; */
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
        max-width: 810px;
        max-height: 461px;
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;

      min-width: 810px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }



    .popup-bg {
        z-index: 900;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        display: none;
    }
    
    .popup {
        position: absolute;
        background: #ffffff;
        width: 400px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        padding-top: 60px;
        border: 7px solid #8390d1;
        border-radius: 8px;
    }
    
    .popup form {
        display: flex;
        flex-direction: column;
    }
    
    .popup form input {
        margin-bottom: 30px;
        height: 50px;
        font-size: 20px;
        border: 5px solid #8390d1;
        border-radius: 10px;
        background-color: #FFFFFF;
    }
    
    .popup form input[type="submit"] {
        background: #8390d1;
        color: #ffffff;
        font-size: 24px;
    }
    
    .close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        height: 30px;
        width: 30px;
    }
    
    .no-scroll {
        overflow-y: hidden;
    }
    
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }


    .open-popup{
        background-color: #D1483C;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
        width: 18.51%;
        height: 70px;
        margin-left: 44px;
        border-radius: 10px;
        text-align: center;
        font-size: 32px;
        color:rgba(255, 255, 255);
        vertical-align: bottom;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .open-popup:hover{
        background-color: #9f382f;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
        width: 18.51%;
        height: 70px;
        margin-left: 44px;
        border-radius: 10px;
        text-align: center;
        font-size: 32px;
        color:rgba(255, 255, 255);
        vertical-align: bottom;
        display: flex;
        justify-content: center;
        align-items: center;
    }



 